.products-container{
    width: 80%;
    margin: auto;
}
.products-container h1{
    display: inline-block;
    color: #424242;
}


.products-favorite{
  
    color: #4C6F9B;
    margin-top: 25px;
}
.products-list{
    display: flex;
    flex-wrap:wrap;
    
}
